<div class="container" *ngIf="isLoading">
    <div class="row">
      <div class="head-section text-center">
        <h1 class="banner-text"></h1>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 col-sm-12">
       
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="profile-details-section">
          <div class="text1">
            <div *ngIf="text1">
              {{text1}}
            </div>
          </div>
          <div class="text2">
            <div *ngIf="text2">
              {{text2}}
            </div>
          </div>
          <div class="text3">
            <div *ngIf="text3">
              {{text3}}
            </div>
          </div>
          <div class="text4">
            <div *ngIf="text4">
              {{text4}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="profile-details-section">
          <div class="text1">
            <div *ngIf="text1">
              {{text1}}
            </div>
          </div>
          <div class="text2">
            <div *ngIf="text2">
              {{text2}}
            </div>
          </div>
          <div class="text3">
            <div *ngIf="text3">
              {{text3}}
            </div>
          </div>
          <div class="text4">
            <div *ngIf="text4">
              {{text4}}
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
