<app-header></app-header>
<app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>

<div class="full-container">
    <div class="certificate-container">
        <div class="certificate-header">
            <h2>New Registration Certificate</h2>
            <button class="edit-btn" mat-stroked-button color="primary" >Edit</button>
        </div>

        <div class="certificate-details">
            <mat-drawer-container>
                <mat-drawer  #drawer class="drawer" mode="side" opened="true">
                        <mat-nav-list>
                            <mat-list-item *ngFor="let link of links" [activated]="link.isActive" [ngClass]="{ 'active-link': selectedLink === link }">

                                <span (click)="showInfo(link)"  >
                                    <a routerLinkActive="active-list-item">{{ link }}</a>
                                </span>
                            </mat-list-item>
                        </mat-nav-list>
                </mat-drawer>

                    <div class="content">
                        <ng-template #notPayment>
                            <div class="content-details">
                                
                                <form [formGroup]="newRegCertDetailsformGroup" *ngIf="candidateDetails"
                                (ngSubmit)="newRegCertDetailsformGroupSubmit(newRegCertDetailsformGroup.value)">
                                    <div class="status-bar" *ngIf="stateData?.data?.status" >
                                            <div class="status-data" [ngClass]="getStatusColorClass(stateData?.data?.status)">
                                                <h3 class="status">STATUS : {{stateData?.data?.status}}</h3>
                                            </div>
                                            <div class="status-reason" *ngIf="stateData?.data?.status === 'REJECTED'">
                                                <h3>{{stateData?.data?.notes}}</h3>
                                            </div>                                            
                                    </div> 
                                    <div class="full-details">
                                        <div class="applicant-details">
                                            <h4>Applicant Name</h4>
                                            <mat-form-field appearance="outline" >
                                                <input matInput placeholder="Applicant Name" formControlName="applicantName">
                                                <mat-error *ngIf="newRegCertDetailsformGroup.controls['applicantName'].invalid">
                                                </mat-error>
                                            </mat-form-field>
                                        <!-- </div> -->

                                        <!-- <div class="ml4 flex flex-column"> -->
                                            <h4>Mobile Number</h4>
                                            <mat-form-field appearance="outline">
                                                <input matInput placeholder="Mobile Number" formControlName="mobNumber">
                                                <mat-error *ngIf="newRegCertDetailsformGroup.controls['mobNumber'].invalid">
                                                </mat-error>
                                            </mat-form-field>
                                        
                                        <!-- </div> -->
                                        <div>
                                            <div>
                                                <h4>Email ID </h4>
                                                <mat-form-field appearance="outline" >
                                                    <input matInput placeholder="Email ID" formControlName="email">
                                                    <mat-error *ngIf="newRegCertDetailsformGroup.controls['email'].invalid">
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        

                                        </div>
                                        <mat-hint>Type in Name, mobile number and email ID</mat-hint>
                                        <mat-divider>
                                        
                                        </mat-divider>
                                        <!-- <div class="ml4 flex flex-column"> -->
                                            <h4>Father's Name</h4>
                                            <mat-form-field appearance="outline" >
                                                <input matInput placeholder="Father's Name" formControlName="fatherName">
                                                <mat-error *ngIf="newRegCertDetailsformGroup.controls['fatherName'].invalid">
                                                </mat-error>
                                            </mat-form-field>
                                        <!-- </div> -->

                                    
                                        <div>
                                            <h4>Mother's Name</h4>
                                            <mat-form-field appearance="outline">
                                                <input matInput placeholder="Mother's Name" formControlName="motherName">
                                                <mat-error *ngIf="newRegCertDetailsformGroup.controls['motherName'].invalid">
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <!-- <div class="ml4 flex flex-column"> -->
                                            <h4>Date Of Birth</h4>
                                            <mat-form-field appearance="outline">

                                                <mat-label>Choose a date</mat-label>
                                                <input matInput [matDatepicker]="picker" formControlName="dob">
                                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                            <div>
                                                <h4>Credentials Type </h4>
                                                <mat-form-field appearance="outline">
                                                    <!-- <input matInput placeholder="State" formControlName="state"> -->
                                                    <mat-select (selectionChange)="credTypeSelected($event)" formControlName="credType">
                                                        <span *ngFor='let cred of credTypeList;let i = index'>
                                                            <mat-option [value]="cred">{{cred}}</mat-option>
                                                        </span>
                                                      </mat-select>
                                                    <mat-error *ngIf="newRegCertDetailsformGroup.controls['credType'].invalid">
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                        <!-- </div> -->
                                        <div [ngClass]="{ 'invalid-field': submitted && newRegCertDetailsformGroup.controls['gender'].errors }">
                                            <!-- <div class=" mt3 "> -->
                                                <h4 >Gender </h4>
                                                <mat-radio-group color="primary"  formControlName="gender">
                                                    <span *ngFor='let origin of genderTypesArray;let i = index'>
                                                        <mat-radio-button [value]="origin"
                                                            >{{origin}}</mat-radio-button>
                                                    </span>

                                                </mat-radio-group>
                                            </div>
                                        </div>

                                        <div class="place-details">
                                            <!-- <div class=" flex flex-column mr2"> -->
                                                <div class="address-details">
                                                    <h4>Address Line 1</h4>
                                                    <mat-form-field appearance="outline" >
                                                        <input matInput placeholder="Address Line 1" formControlName="al1">
                                                        <mat-error *ngIf="newRegCertDetailsformGroup.controls['al1'].invalid">
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            <!-- </div> -->

                                            <!-- <div class=" flex flex-column ml4 mt3"> -->
                                                <div class="address-details">
                                                    <h4>Address Line 2</h4>
                                                    <mat-form-field appearance="outline" >
                                                        <input matInput placeholder="Address Line 2" formControlName="al2">
                                                        <mat-error *ngIf="newRegCertDetailsformGroup.controls['al2'].invalid">
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>

                                            <!-- </div> -->
                                        </div>
                                        <div class="place-details">
                                                <div class="address-details">
                                                    <h4>District</h4>
                                                    <mat-form-field appearance="outline">
                                                        <input matInput placeholder="District" formControlName="district">
                                                        <mat-error *ngIf="newRegCertDetailsformGroup.controls['district'].invalid">
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>


                                                <div class="address-details">
                                                    <h4>State </h4>
                                                    <mat-form-field appearance="outline">
                                                        <!-- <input matInput placeholder="State" formControlName="state"> -->
                                                        <mat-select (selectionChange)="stateTypeSelected($event)" formControlName="state">
                                                            <span *ngFor='let state of stateList;let i = index'>
                                                                <mat-option [value]="state">{{state}}</mat-option>
                                                            </span>
                                                          </mat-select>
                                                        <mat-error *ngIf="newRegCertDetailsformGroup.controls['state'].invalid">
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <!-- <div class="address-details">
                                                    <h4>Credentials Type </h4>
                                                    <mat-form-field appearance="outline">
                                                        <mat-select (selectionChange)="credTypeSelected($event)" formControlName="credType">
                                                            <span *ngFor='let cred of credTypeList;let i = index'>
                                                                <mat-option [value]="cred">{{cred}}</mat-option>
                                                            </span>
                                                          </mat-select>
                                                        <mat-error *ngIf="newRegCertDetailsformGroup.controls['credType'].invalid">
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div> -->

                                        </div>
                                        <div class="place-details">
                                                <div class="address-details">
                                                    <h4>Pincode </h4>
                                                    <mat-form-field appearance="outline">
                                                        <input matInput placeholder="Pincode" formControlName="pin">
                                                        <mat-error *ngIf="newRegCertDetailsformGroup.controls['pin'].invalid">
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>


                                                <div class="address-details">
                                                    <h4>Country </h4>
                                                    <mat-form-field appearance="outline">
                                                        <input matInput placeholder="Country" formControlName="country">
                                                        <mat-error *ngIf="newRegCertDetailsformGroup.controls['country'].invalid">
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                        </div>
                                        
                                        
                                        <div class="applicant-details">
                                            <div>
                                                <h4>Aadhar Number </h4>
                                                <mat-form-field appearance="outline"    >
                                                    <input matInput placeholder="Aadhar Number" formControlName="adhr">
                                                    <mat-error *ngIf="newRegCertDetailsformGroup.controls['adhr'].invalid">
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                        <!-- </div> -->
                                        <h4>Attach file(s)</h4>

                                        <div class="upload-column">
                                            <!-- <div class="flex flex-column mt1"> -->
                                            <!-- </div> -->
                                            <!-- <div class="ml4 flex flex-column right"> -->
                                                <label for="fileUpload1" class="custom-file-upload">
                                                    <a mat-button color="primary">+ Add 
                                                        attachment(s) </a>
                                                </label>
                                                <mat-hint>docx /pdf files accepted</mat-hint>
                                                <input id="fileUpload1" type="file" style="display: none" enctype="multipart/form-data"
                                                    (change)="onFileChanged($event)"  multiple="true" accept=".pdf,.docx" />
                                            <!-- </div> -->
                                        

                                            <!-- <div class="flex flex-row  ml4 mt1">
                                                <div class="flex flex-column mt1"> -->


                                                    <div *ngFor="let selected of listOfFiles; let index = index">

                                                        <mat-list >
                                                            <mat-list-item (click)="navigateToUrl(selected.url)">{{ selected.name }} <mat-icon class="mt2 ml4"
                                                                    (click)="removeSelectedFile(index)">delete</mat-icon></mat-list-item>
                                                            <mat-divider></mat-divider>

                                                        </mat-list>

                                                    </div>

                                                <!-- </div> -->

                                            </div>
                                        </div>
                                        <div class="buttons">
                                            <div class="button-group">
                                                <button type="button" class="button" mat-raised-button  color="primary" (click)="navToPreviousPage()"><mat-icon>keyboard_backspace</mat-icon>Previous</button>
                                            </div>
                                            
                            
                                            <div class="button-group" >
                                                <button type="button" class="button" mat-stroked-button color="primary" (click)="onReset()">Cancel</button>
                                                <button  class="button" mat-raised-button color="primary"  ><mat-icon matSuffix>arrow_right_alt</mat-icon>{{buttonText}}</button>
                                            </div>
                                        </div>
                                    </div>    
                                </form>



                                <form [formGroup]="newRegCourseDetailsformGroup" *ngIf="!candidateDetails"
                                (ngSubmit)="onNewRegCourseDetailsformSubmit(newRegCourseDetailsformGroup.value)">
                                    <div class="full-details">

                                        <div class="applicant-details slc">
                                            <h4>Request Type</h4>
                                            <mat-form-field appearance ="outline">
                                                <mat-label>Request Type</mat-label>
                                              <mat-select (selectionChange)="requestTypeSelected($event)" formControlName="requestType">
                                                <span *ngFor='let requesttype of requestTypesArray;let i = index'>
                                                    <mat-option [value]="requesttype">{{requesttype}}</mat-option>
                                                </span>
                                              </mat-select>
                                        </mat-form-field>
                                        </div>

                                        <div class="applicant-details">
                                            <h4>Course Name</h4>
                                            <mat-form-field appearance ="outline">
                                                <mat-label>Course Name</mat-label>
                                              <mat-select (selectionChange)="requestTypeSelected($event)" formControlName="courseName">
                                                <span *ngFor='let course of courseList;let i = index'>
                                                    <mat-option [value]="course">{{course}}</mat-option>
                                                </span>
                                              </mat-select>
                                        </mat-form-field>
                                            <!-- <mat-form-field appearance="outline">
                                                <input matInput placeholder="Course Name" formControlName="courseName">
                                            
                                            </mat-form-field> -->
                                        </div>

                                        <div class="applicant-details">
                                            <h4>College Name</h4>
                                            <mat-form-field appearance="outline">
                                                <input matInput placeholder="College Name" formControlName="collegeName">
                                            
                                            </mat-form-field>
                                        </div>

                                        <div class="applicant-details">
                                            <h4>Examination Body</h4>
                                            <mat-form-field appearance="outline">
                                                <input matInput placeholder="Examination Body" formControlName="examBody">
                                            
                                            </mat-form-field>
                                        </div>

                                        <div class="applicant-details">
                                            <h4>Final year roll number</h4>
                                            <mat-form-field appearance="outline">
                                                <input matInput placeholder="Final year roll number" formControlName="rollNum">
                                            
                                            </mat-form-field>
                                        </div>
                                        <div class="applicant-details" *ngIf="stateData.courseType === 'Diploma'">
                                            <h4>Diploma Number</h4>
                                            <mat-form-field appearance="outline">
                                                <input matInput placeholder="diploma number" formControlName="diplomaNumber">
                                            </mat-form-field>
                                        </div>

                                        <div class="applicant-details">
                                            <h4>Course joining Date</h4>
                                            <mat-form-field appearance="outline">

                                                <mat-label>Choose a date</mat-label>
                                                <input matInput [matDatepicker]="pickerjoindate" formControlName="joinDate" (click)="onDateChange($event)">
                                                <mat-datepicker-toggle matIconSuffix [for]="pickerjoindate"></mat-datepicker-toggle>
                                                <mat-datepicker #pickerjoindate></mat-datepicker>
                                            </mat-form-field>

                                        </div>

                                        <div class="applicant-details">
                                            <h4>Course Passing Date</h4>
                                            <mat-form-field appearance="outline">
                                                <mat-label>Choose a date</mat-label>
                                                <input matInput [matDatepicker]="pickerpassingDate" formControlName="passDate" [min]="newRegCourseDetailsformGroup.controls['joinDate'].value">
                                                <mat-datepicker-toggle matIconSuffix [for]="pickerpassingDate"></mat-datepicker-toggle>
                                                <mat-datepicker #pickerpassingDate></mat-datepicker>
                                                
                                            </mat-form-field>

                                        </div>
                                        <div class="applicant-details">
                                            <h4>Attach file(s)</h4>
                                        <div class="upload-column">
                                            <!-- <div class="flex flex-column mt1"> -->
                                            <!-- </div> -->
                                            <!-- <div class="ml4 flex flex-column right"> -->
                                                <label for="file-upload2" class="custom-file-upload">
                                                    <a mat-button color="primary">+ Add
                                                        attachment(s) </a>
                                                </label>
                                                <mat-hint>docx /pdf files accepted</mat-hint>
                                                <input id="file-upload2" type="file" style="display: none"
                                                    (change)="onCourseFileChanged($event)" multiple="true" enctype="multipart/form-data"  accept=".pdf,.docx" />
                                            <!-- </div> -->
                                        

                                            <!-- <div class="flex flex-row  ml4 mt1">
                                                <div class="flex flex-column mt1"> -->


                                                    <div *ngFor="let selected of listOfFiles; let index = index">
                                                     
                                                        <mat-list >
                                                            <mat-list-item>{{ selected?.name }} <mat-icon class="mt2 ml4"
                                                                    (click)="removeSelectedFile(index)">delete</mat-icon></mat-list-item>
                                                            <mat-divider></mat-divider>

                                                        </mat-list>

                                                    </div>

                                                <!-- </div> -->

                                            </div>
                                        </div>
                                        <div *ngIf="this.userRole === 'StudentOutsideUP'">
                                            <h3>Note: Fill the details in this section as you already registered with any other State Medical Council</h3>
                                            <div class="applicant-details">
                                                <h4>State</h4>
                                                <mat-form-field appearance="outline">
                                                    <mat-label>select state</mat-label>
                                                    <!-- <input matInput placeholder="State" formControlName="state"> -->
                                                    <mat-select (selectionChange)="stateTypeSelected($event)" formControlName="stateName">
                                                        <span *ngFor='let state of stateList;let i = index'>
                                                            <mat-option [value]="state">{{state}}</mat-option>
                                                        </span>
                                                    </mat-select>
                                                    <!-- <mat-error *ngIf="newRegCertDetailsformGroup.controls['state'].invalid">
                                                                                                                                </mat-error> -->
                                                </mat-form-field>
                                            </div>
                                        
                                            <div class="applicant-details">
                                                <h4>Council</h4>
                                                <mat-form-field appearance="outline">
                                                    <input matInput placeholder="Council" formControlName="newCouncil">
                                        
                                                </mat-form-field>
                                            </div>
                                        
                                            <div class="applicant-details">
                                                <h4>Registration Number</h4>
                                                <mat-form-field appearance="outline">
                                                    <input matInput placeholder="Registration Number" formControlName="otherRegnNo">
                                        
                                                </mat-form-field>
                                            </div>
                                        
                                            <div class="applicant-details">
                                                <h4>Date</h4>
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Choose a date</mat-label>
                                                    <input matInput formControlName="date">
                                                    <mat-datepicker #pickerpassingDate></mat-datepicker>
                                        
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    
                                        <!-- <div class="buttons">
                                            <div class="button-group">
                                                <button type="button"  mat-raised-button  color="primary" (click)="navToPreviousPage()"><mat-icon>keyboard_backspace</mat-icon>Previous</button>
                                            </div>
                                            
                            
                                            <div class="button-group">
                                                <button type="button"   mat-stroked-button color="primary" (click)="onReset()">Cancel</button>
                                                <button  class="button" mat-raised-button color="primary" (click)="onSubmit(newRegCourseDetailsformGroup)"><mat-icon matSuffix>arrow_right_alt</mat-icon>Next</button>
                                            </div>
                                        </div> -->
                                        <div class="buttons">
                                            <div class="button-group">
                                                <button type="button" class="button" mat-raised-button  color="primary" (click)="navToPreviousPage()"><mat-icon>keyboard_backspace</mat-icon>Previous</button>
                                            </div>
                                            
                            
                                            <div class="button-group" >
                                                <button type="button" class="button" mat-stroked-button color="primary" (click)="onReset()"> {{ isStudent ? 'Cancel' :'Reject' }}<mat-icon>{{ !isStudent ? 'close' : '' }}</mat-icon></button>
                                                <button  class="button" mat-raised-button color="primary" >{{ isStudent ? 'Next' :'Approve' }}<mat-icon>{{ !isStudent ? 'check' : '' }}</mat-icon><mat-icon >{{ isStudent ? 'arrow_right_alt' :''}}</mat-icon></button>
                                            </div>
                                            <!-- <div class="button-group" *ngIf="!isStudent">
                                                <button type="button" class="button" mat-stroked-button color="primary" (click)="onReset()"><mat-icon>close</mat-icon>Reject</button>
                                                <button  class="button" mat-raised-button color="primary" ><mat-icon>check</mat-icon>
                                                    Approve</button>
                                            </div> -->
                                        </div>
                                    </div>    
                                </form>
                            </div>

                        </ng-template>
                        

                        <div class="payment-details" *ngIf="paymentDetails; else notPayment">
                            <div class="full-details">
                                <div class="cer-name">
                                    <p>Certificate Name</p>
                                    <h4>Registraion Cert</h4>
                                </div>
                                <mat-divider></mat-divider>
                                    


                                    <div class="user-info">
                                        <div class="details">
                                            <p>Applicant's Name</p>
                                            <h4>Dev</h4>
                                        </div> 
                                        
                                        

                                    <!-- <div class="user-info"> -->
                                        <div class="details" >
                                            <p>Examination Body</p>
                                            <h4>UPSMF</h4>
                                        </div>
                                    <!-- </div> -->
                                    <!-- <div class="ml4 flex flex-column right"> -->
                                        <div class="details">
                                            <p>Payment Amount</p>
                                            <h4>Rs 1000</h4>
                                        </div>
                                    <!-- </div> -->
                                    </div>
                            </div>
                            <div class="buttons">
                                <div class="button-group">
                                    <button  class="button" mat-raised-button  color="primary" (click)="navToPreviousPage()"><mat-icon>keyboard_backspace</mat-icon>Previous</button>
                                </div>
                                
                
                                <div class="button-group">
                                    <button class="button"  mat-stroked-button color="primary">Cancel</button> 
                       
                                    <button  class="button" mat-raised-button color="primary" (click)="handlePayment()"><mat-icon matSuffix>arrow_right_alt</mat-icon>Make Payment</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    
            </mat-drawer-container>
            <!-- <div class="ml4 flex flex-row left mt2">
                <div class="button-group ml4">
                    <button mat-stroked-button color="primary" class="ml4">Previous</button>
                </div>
                </div>

            <div class="ml4 flex flex-column right mt2">
            <div class="button-group ">
                <button mat-stroked-button color="primary" class="ml2">Cancel</button>
                <button mat-stroked-button color="primary" class="ml2">Next</button>
            </div>
            </div> -->
        </div>
    </div>
</div>