<app-header></app-header>
<div class="flex  flex-auto " style="    padding-left: 33%;"
>
    <h2>New Registration Certificate</h2>
</div>

<div style="margin: 115px; ">
    <mat-drawer-container>
        <mat-drawer #drawer class="drawer" mode="side" opened="true">


            <div class="contents">
                <mat-nav-list>
                    <mat-list-item *ngFor="let link of links" [activated]="link.isActive">

                        <span (click)="showInfo(link)">
                            <a routerLinkActive="active-list-item">{{ link }}</a>
                        </span>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </mat-drawer>

        <div style="min-height: 550px;">
            <ng-template #notPayment>
                <form [formGroup]="newRegCertDetailsformGroup" *ngIf="candidateDetails">
                    <div class="ml4 flex flex-column mt3">
                        <h4>Applicant Name</h4>
                        <mat-form-field appearance="outline" style="width:16.5rem">
                            <input matInput placeholder="Applicant Name" formControlName="applicantName">
                            <mat-error *ngIf="newRegCertDetailsformGroup.controls['applicantName'].invalid">
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="ml4 flex flex-column">
                        <h4>Mother's Name</h4>
                        <mat-form-field appearance="outline" style="width:16.5rem">
                            <input matInput placeholder="Mother's Name" formControlName="motherName">
                            <mat-error *ngIf="newRegCertDetailsformGroup.controls['motherName'].invalid">
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="ml4 flex flex-column">
                        <h4>Father's Name</h4>
                        <mat-form-field appearance="outline" style="width:16.5rem">
                            <input matInput placeholder="Father's Name" formControlName="fatherName">
                            <mat-error *ngIf="newRegCertDetailsformGroup.controls['fatherName'].invalid">
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="ml4 flex flex-column">
                        <h4>Date Of Birth</h4>
                        <mat-form-field style="width:16.5rem">

                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dob">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                    </div>

                    <div class="ml4 flex flex-column">
                        <div class=" mt3 ">
                            <h4 class="mb1 ">Gender </h4>
                            <mat-radio-group color="primary" name="gender" aria-label="gender" formControlName="gender">
                                <span *ngFor='let origin of genderTypesArray;let i = index'>
                                    <mat-radio-button [value]="origin"
                                        (change)="radioChecked(origin,i)">{{origin}}</mat-radio-button>
                                </span>

                            </mat-radio-group>
                        </div>

                        <mat-error
                            *ngIf="submitted && newRegCertDetailsformGroup.controls['gender'].errors?.['required']">
                        </mat-error>
                    </div>

                    <div class="flex flex-row ml4   ">
                        <div class=" flex flex-column mr2">
                            <div class=" mt3 ">
                                <h4>Address Line 1</h4>
                                <mat-form-field appearance="outline" style="width:16.5rem">
                                    <input matInput placeholder="Address Line 1" formControlName="al1">
                                    <mat-error *ngIf="newRegCertDetailsformGroup.controls['al1'].invalid">
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class=" flex flex-column ml4 mt3">
                            <div>
                                <h4>Address Line 2</h4>
                                <mat-form-field appearance="outline" style="width:16.5rem">
                                    <input matInput placeholder="Address Line 2" formControlName="al2">
                                    <mat-error *ngIf="newRegCertDetailsformGroup.controls['al2'].invalid">
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                    <div class="flex flex-row ml4  mt2  ">
                        <div class=" flex flex-column mr2">
                            <div>
                                <h4>District</h4>
                                <mat-form-field appearance="outline" style="width:16.5rem">
                                    <input matInput placeholder="District" formControlName="district">
                                    <mat-error *ngIf="newRegCertDetailsformGroup.controls['district'].invalid">
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>

                        <div class=" flex flex-column ml4">
                            <div>
                                <h4>State </h4>
                                <mat-form-field appearance="outline" style="width:16.5rem">
                                    <input matInput placeholder="State" formControlName="state">
                                    <mat-error *ngIf="newRegCertDetailsformGroup.controls['state'].invalid">
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                    <div class="flex flex-row ml4  mt2 mb3 ">
                        <div class=" flex flex-column mr2">
                            <div>
                                <h4>Pincode </h4>
                                <mat-form-field appearance="outline" style="width:16.5rem">
                                    <input matInput placeholder="Pincode" formControlName="pin">
                                    <mat-error *ngIf="newRegCertDetailsformGroup.controls['pin'].invalid">
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>

                        <div class=" flex flex-column ml4 ">
                            <div>
                                <h4>Country </h4>
                                <mat-form-field appearance="outline" style="width:16.5rem">
                                    <input matInput placeholder="Country" formControlName="country">
                                    <mat-error *ngIf="newRegCertDetailsformGroup.controls['country'].invalid">
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>


                    </div>
                    <div class="ml4 flex flex-column">
                        <h4>Mobile Number</h4>
                        <mat-form-field appearance="outline" style="width:16.5rem">
                            <input matInput placeholder="Mobile Number" formControlName="mobNumber">
                            <mat-error *ngIf="newRegCertDetailsformGroup.controls['mobNumber'].invalid">
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="ml4 flex flex-column">
                        <div>
                            <h4>Email ID </h4>
                            <mat-form-field appearance="outline" style="width:16.5rem">
                                <input matInput placeholder="Email ID" formControlName="email">
                                <mat-error *ngIf="newRegCertDetailsformGroup.controls['email'].invalid">
                                </mat-error>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="ml4 flex flex-column">
                        <div>
                            <h4>Aadhar Number </h4>
                            <mat-form-field appearance="outline" style="width:16.5rem">
                                <input matInput placeholder="Aadhar Number" formControlName="adhr">
                                <mat-error *ngIf="newRegCertDetailsformGroup.controls['adhr'].invalid">
                                </mat-error>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="flex flex-row  ml4 mt1">
                        <div class="flex flex-column mt1">
                            <h4 class="mb1 mt2" style="font-weight:400">Attach file(s)</h4>
                        </div>
                        <div class="ml4 flex flex-column right">
                            <label for="file-upload" class="custom-file-upload">
                                <a mat-button color="primary">+ Add
                                    attachment(s) </a>
                            </label>
                            <mat-hint>docx /pdf files accepted</mat-hint>
                            <input id="file-upload" type="file" style="display: none" #attachments
                                (change)="onFileChanged($event)" #fileInput multiple="true" accept=".pdf,.docx" />
                        </div>
                    </div>

                    <div class="flex flex-row  ml4 mt1">
                        <div class="flex flex-column mt1">


                            <div class="flex flex-row mt2" *ngFor="let selected of listOfFiles; let index = index">

                                <mat-list>
                                    <mat-list-item>{{ selected }} <mat-icon class="mt2 ml4"
                                            (click)="removeSelectedFile(index)">delete</mat-icon></mat-list-item>
                                    <mat-divider></mat-divider>

                                </mat-list>

                            </div>

                        </div>

                    </div>
                    <br /> <br />
                </form>



                <form [formGroup]="newRegCertDetailsformGroup" *ngIf="!candidateDetails">
                    <div class="ml4 flex flex-column mt3">
                        <h4>Course Name</h4>
                        <mat-form-field appearance="outline" style="width:16.5rem">
                            <input matInput placeholder="Applicant Name" formControlName="applicantName">
                            <mat-error *ngIf="newRegCertDetailsformGroup.controls['applicantName'].invalid">
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="ml4 flex flex-column">
                        <h4>College Name</h4>
                        <mat-form-field appearance="outline" style="width:16.5rem">
                            <input matInput placeholder="Mother's Name" formControlName="motherName">
                            <mat-error *ngIf="newRegCertDetailsformGroup.controls['motherName'].invalid">
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="ml4 flex flex-column">
                        <h4>Examination Body</h4>
                        <mat-form-field appearance="outline" style="width:16.5rem">
                            <input matInput placeholder="Father's Name" formControlName="fatherName">
                            <mat-error *ngIf="newRegCertDetailsformGroup.controls['fatherName'].invalid">
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="ml4 flex flex-column">
                        <h4>Final year roll number</h4>
                        <mat-form-field appearance="outline" style="width:16.5rem">
                            <input matInput placeholder="Father's Name" formControlName="fatherName">
                            <mat-error *ngIf="newRegCertDetailsformGroup.controls['fatherName'].invalid">
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="ml4 flex flex-column mt2">
                        <h4>Course joining Date</h4>
                        <mat-form-field style="width:16.5rem">

                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="joinDate" formControlName="dob">
                            <mat-datepicker-toggle matIconSuffix [for]="joinDate"></mat-datepicker-toggle>
                            <mat-datepicker #joinDate></mat-datepicker>
                        </mat-form-field>

                    </div>

                    <div class="ml4 flex flex-column mt2">
                        <h4>Course Passing Date</h4>
                        <mat-form-field style="width:16.5rem">

                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="passingDate" formControlName="dob">
                            <mat-datepicker-toggle matIconSuffix [for]="passingDate"></mat-datepicker-toggle>
                            <mat-datepicker #passingDate></mat-datepicker>
                        </mat-form-field>

                    </div>

                    <div class="flex flex-row  ml4 mt1">
                        <div class="flex flex-column mt1">
                            <h4 class="mb1 mt2" style="font-weight:400">Attach file(s)</h4>
                        </div>
                        <div class="ml4 flex flex-column right">
                            <label for="file-upload" class="custom-file-upload">
                                <a mat-button color="primary">+ Add
                                    attachment(s) </a>
                            </label>
                            <mat-hint>docx / pdf files accepted</mat-hint>
                            <input id="file-upload" type="file" style="display: none"
                                (change)="onCourseFileChanged($event)" multiple="true" accept=".pdf,.docx" />
                        </div>
                    </div>

                    <div class="flex flex-row  ml4 mt1">
                        <div class="flex flex-column mt1">


                            <div class="flex flex-row mt2"
                                *ngFor="let selected of listOfCourseFiles; let index = index">

                                <mat-list>
                                    <mat-list-item>{{ selected }}
                                        <mat-icon class="mt2 ml4"
                                            (click)="removeSelectedCourseFile(index)">delete</mat-icon></mat-list-item>
                                    <mat-divider></mat-divider>

                                </mat-list>

                            </div>

                        </div>

                    </div>
                    <br /> <br />
                </form>

            </ng-template>

            <span *ngIf="paymentDetails; else notPayment">
                <div class="ml4 flex flex-column mt2">
                    <p>
                        Certificate Name

                    </p>
                    <h4>Registraion Cert</h4>

                </div>

                <div class="flex flex-row  ml4 mt1">

                    <div class=" flex flex-column right">
                        <span>
                            Applicant's Name
                            <h4>Dev</h4>
                        </span>
                    </div>

                    <div class="ml4 flex flex-column right">
                        <span class="ml4">
                            Examination Body
                            <h4>UPSMF</h4>
                        </span>
                    </div>
                    <div class="ml4 flex flex-column right">
                        <span class="ml4">
                            Payment Amount
                            <h4>Rs 1000</h4>
                        </span>
                    </div>
                </div>

            </span>
        </div>


    </mat-drawer-container>
    <div class="ml4 flex flex-row left mt2">
        <div class="button-group ml4">
            <button mat-stroked-button color="primary" class="ml4">Previous</button>
        </div>
        </div>

    <div class="ml4 flex flex-column right mt2">
    <div class="button-group ">
        <button mat-stroked-button color="primary" class="ml2">Cancel</button>
        <button mat-stroked-button color="primary" class="ml2">Next</button>
    </div>
    </div>
    <br/> <br/> <br/> <br/> <br/>
</div>