.header-class {
    justify-content: space-between;
    margin-left: 8rem;
    margin-right: 8rem;
}

.header-container{
    box-shadow: 0px 0px 0px 2px #dedede;
}

.action-btn{
    background-color: forestgreen;
    border-radius: 8px;
    border: none;
    color: white;
    height: 26px;
    margin-top: 1rem;
    cursor: pointer;
}