<app-header></app-header>
<app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
<div class="main-container">
    <div class="header-container">
        <div class="head-details">
            <h2>

                <ng-container [ngSwitch]="stateData.type    ">
                    <ng-container *ngSwitchCase="'regnCertoutsideUP'">
                        Registration Certificate (Outside UP)
                    </ng-container>
                    <ng-container *ngSwitchCase="'regnCertfromUP'">
                        Registration Certificate (From UP)
                    </ng-container>
                    <ng-container *ngSwitchCase="'goodStandingCert'">
                        Other Certificate
                    </ng-container>
                    <ng-container *ngSwitchCase="'ForeignVerifyReq'">
                        Foreign Verification Request
                    </ng-container>
                </ng-container>

            </h2>


        </div>
    </div>

    <mat-tab-group>
        <mat-tab class="ptab" label="Pending Claims">
            <app-shared-skeleton-loading [isLoading]="isDataLoading">
            </app-shared-skeleton-loading>
            <app-shared-table *ngIf="!isDataLoading" [tableColumns]="pendingClaimsTableColumns"
                [tableData]="pendingClaims" [isPageable]="true" (rowAction)="onClickItem($event)">

            </app-shared-table>
        </mat-tab>
        <mat-tab label="Approved Claims">
            <app-shared-table [tableColumns]="approvedClaimsTableColumns" [tableData]="approvedClaims"
                [isPageable]="true" (rowAction)="onClickItem($event)">

            </app-shared-table>

        </mat-tab>
        <mat-tab label="Rejected Claims">
            <app-shared-table [tableColumns]="rejectedClaimsTableColumns" [tableData]="rejectedClaims"
                [isPageable]="true" (rowAction)="onClickItem($event)">

            </app-shared-table>
        </mat-tab>
    </mat-tab-group>
</div>