<app-header></app-header>
    <div class="main-container">
        <div class="header-container">
            <div class="head-details">
                <h2 >Claim Registration Certificates</h2>
                <!-- {{this.stateData.customData.type === 'ForeignVerifyReq' ?  'Foreign Verification Request' : this.stateData.customData.type === 'goodStandingCert' ? 'Other Certificate' :   this.stateData.customData.type === 'regnCertfromUP' ? 'Registration Certificate(From UP)' :   this.stateData.customData.type === 'regnCertoutsideUP' ? 'Registration Certificate(Outside UP)'  }}  -->
                <!-- if(this.stateData.customData.type === 'ForeignVerifyReq){
                    <h2 >  Foreign Verification Request</h2>
                }
                else if
                <button mat-button color="primary" routerLink="/claims/new" mat-raised-button color="primary">New Claim </button> -->
                <!-- <ng-container *ngIf="stateData.customData.type === 'ForeignVerifyReq'; else otherTypes">
                    <h2>Foreign Verification Request</h2>
                </ng-container>
                <ng-template #otherTypes>
                    <h2>
                        {{ stateData.customData.type === 'goodStandingCert' ? 'Other Certificate' :
                           stateData.customData.type === 'regnCertfromUP' ? 'Registration Certificate(From UP)' :
                           stateData.customData.type === 'regnCertoutsideUP' ? 'Registration Certificate(Outside UP)' : 'Default Heading' }}
                    </h2>
                </ng-template> -->

            </div>
        </div>

        <mat-tab-group  >
            <mat-tab class="ptab" label="Pending Claims">
                <app-shared-skeleton-loading [isLoading]="isDataLoading">
                </app-shared-skeleton-loading>
                <app-shared-table *ngIf="!isDataLoading"
                [tableColumns]="pendingClaimsTableColumns"
                [tableData]="pendingClaims"
                [isPageable]="true"
                    (rowAction)="onClickItem($event)">

                </app-shared-table>
            </mat-tab>
            <mat-tab label="Approved Claims"> 
                <app-shared-table
                [tableColumns]="approvedClaimsTableColumns"
                [tableData]="approvedClaims"
                [isPageable]="true" 
                (rowAction)="onClickItem($event)">
                
                </app-shared-table>

                </mat-tab>
            <mat-tab label="Rejected Claims"> 
                <app-shared-table
                [tableColumns]="rejectedClaimsTableColumns"
                [tableData]="rejectedClaims"
                [isPageable]="true" 
                (rowAction)="onClickItem($event)">
                
                </app-shared-table>
            </mat-tab>
        </mat-tab-group>
    </div>
