.main-container {
    background-color: #F0F3F4;
    height: 100%;
    width: 100%;
}
.secondary-container{
    padding: 3%;
    margin-left: 8%;
}
.title-header {
    font-size: 24px;
    letter-spacing: 0.12px;
    font-weight: 500;
    line-height: 28px;
    color: #000000;
}
.cards-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 2%;
    
}

.example-card {
   width:276px;
   height: 188px;
   background-color: white;
   box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 3px 0px !important;
   border-radius: 6px;
   cursor: pointer;
  }
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
  }
 .icon-container {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: lightgray;
 }
 .icon-cls {
    padding: 5%;
    color: darkorange;
    background-color: lightgray;
    border-radius: 50%;
 }
 .title-section {
    font-size: 19px;
    line-height: 26px;
    letter-spacing: 0.12px;
    font-weight: 500;
    color: RGBA(0, 0, 0, 0.87);
    margin-top: 8px;
    filter: brightness(1.5);
 }

 .desc-section {
    margin-top: 7px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.25px;
 }
