<!-- <div class="register-fullscreen-container">
    <div class="register-container">
        <div class="image-cls">
            <img style="width: 26rem;" src="../../assets/images/sunbird_logo.png" alt="UPSMF logo">
        </div>
        <div class="register-main-container">
            <div class="register-content">
                <h2 class="resiter-text">Sign Up</h2>
                <div class="register-inputs">
                    <form class="register-section" [formGroup]="registerForm" (ngSubmit)="otpForm">
                        <mat-form-field appearence="outline" class="text-class">
                            <mat-label>Roll No</mat-label>
                            <input matInpur placeholder="Enter Roll No" formControlName="rollno" type="email">
                        </mat-form-field>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div> -->
<!-- <div class="fullscreen-container">
    <div class="flex">
        <img src="assets/images/sunbird_logo.png" alt="Logo" class="logo">
    </div>
    <div class="form-container">
        <div class="centered-container">
            <form [formControl]="registerForm" >
                <div class="head">
                    <h1>Sign Up</h1>
                </div>

                <div class="form-group">
                    <mat-label for="rollno" class="label">Roll no</mat-label>
                    <input type="text" class="input"  id="rollno" name="rollno" placeholder="Type here"formControlName="rollno">
                    <label for="name" class="label">Name</label>
                    <input type="text" class="input"  id="name" name="name" placeholder="Type here"formControlName="name">
                    <label for="institutename" class="label">Institute name</label>
                    <input type="text" class="input"  id="institutename" name="institutename" placeholder="Type here"formControlName="instname">
                    <label for="instituteid" class="label">Institude Id</label>
                    <input type="text" class="input"  id="instituteid" name="instituteid" placeholder="Type here"formControlName="instid">
                    <label for="email" class="label">Email / Phone Number</label>
                    <input type="email"  class="input" id="email" name="email" placeholder="Enter your password" formControlName="emailorphno">
                    <button type="submit" class="btn btn-primary" routerLink="/password">GET OTP</button>
                </div>
            </form>
        </div>
    </div>
</div> -->
<div class="register-fullscreen-container">
    <div class="register-container">
        <div class="image-cls">
            <img style="width: 26rem;" src="../../assets/images/sunbird_logo.png" alt="UPSMF logo">
        </div>
        <div class="register-main-container">
            <div class="register-content">
                <h2 class="register-text">Sign Up</h2>
                <div class="register-inputs" >
                   
                    <form class="register-section" [formGroup]="registerForm" (ngSubmit)="signUpform(registerForm.value)">
                        <!-- <div class="input-container">
                            <h4>Roll No</h4>
                            <mat-form-field appearance="outline" class="text-class">
                                <mat-label>Roll No</mat-label>
                                <input matInput placeholder="Enter Roll No" formControlName="rollno" type="text" >
                            </mat-form-field>

                        </div> -->
                        <div class="input-container">
                            <h4>Name</h4>
                            <mat-form-field appearance="outline" class="text-class">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Enter Name" formControlName="name" type="text" >
                            </mat-form-field>

                        </div>
                        
                        <!-- <div class="input-container">
                            <h4>Institute Name</h4>
                            <mat-form-field appearance="outline" class="text-class">
                                <mat-label>Institute Name</mat-label>
                                <input matInput placeholder="Enter Institute Name" formControlName="instname" type="text" >
                            </mat-form-field>

                        </div> -->
                        <!-- <div class="input-container">
                            <h4>Institute Id</h4>
                            <mat-form-field appearance="outline" class="text-class">
                                <mat-label>Institute Id</mat-label>
                                <input matInput placeholder="Enter Institute Id" formControlName="instid" type="text" >
                            </mat-form-field>

                        </div> -->
                        <div class="input-container">
                            <h4>Email Id</h4>
                            <mat-form-field appearance="outline" class="text-class">
                                <mat-label>Email Id</mat-label>
                                <input matInput type="email" placeholder="Enter Email" formControlName="emailphno">
                            </mat-form-field>

                        </div>
                        <div class="input-container">
                            <h4>Mobile No</h4>
                            <mat-form-field appearance="outline" class="text-class">
                                <mat-label>Mobile No</mat-label>
                                <input matInput placeholder="Enter phone number " formControlName="phoneNumber" >
                            </mat-form-field>
                            <label style="color:red" *ngIf="registerForm.get('phoneNumber')?.hasError('invalidInput') ">Invalid email or phone number.</label>

                        </div>

                        <div class="input-container">
                            <h4>Password</h4>
                            <mat-form-field appearance="outline" class="text-class">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Enter Password" formControlName="secretToken" type="password" >
                            </mat-form-field>
                            <label style="color:red" *ngIf="registerForm.get('secretToken')?.touched && registerForm.get('secretToken')?.hasError('invalidPassword')"> Password must have at least 8 characters, one uppercase letter, and one digit</label>
                            <!-- <div *ngIf="registrationForm.controls.password.hasError('invalidPassword')">
                                Password must have at least 8 characters, one uppercase letter, and one digit.
                              </div> -->

                        </div>

                        <div class="input-container">
                            <h4>Confirm Password</h4>
                            <mat-form-field appearance="outline" class="text-class">
                                <mat-label> Confirm Password</mat-label>
                                <input matInput placeholder="Enter Password" formControlName="confirmPassword" type="password" >
                            </mat-form-field>

                        </div>

                      
                        <div class="input-container" style="margin-top:2%;">
                            <button class="text-class action-btns" [disabled]="!registerForm.valid" type="submit" mat-raised-button color="primary">Sign Up</button>
                        </div>
                        
                        
                    </form>
                </div>
            </div>
            

        </div>

    </div>

</div>
