<div class="ml2" class="filter-container">
    <div (click)="toggleFilter()">
        <mat-icon class="icon-class" fontIcon="filter_list_alt"></mat-icon>

        <mat-label class="">Filter</mat-label>
    </div>

    <div class="filter-ui" *ngIf="isFilter">
        <mat-card class="filter-ui-container">
            <div class="filter-internal-ui">
                 <form [formGroup]="filterForm" (ngSubmit)="ApplyFilter(filterForm.value)">
                    <div class="filter-inputs">
                        <div class="first-container">
                            <mat-form-field appearance="outline">
                                <mat-label>Type of Crendential</mat-label>

                                <mat-select (selectionChange)="entitySelected($event)"
                                    formControlName="entityType">
                                    <span *ngFor="let entity of entityType; let i = index">
                                        <mat-option [value]="entity.type">{{
                                            entity.name
                                            }}</mat-option>
                                    </span>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="first-container">
                            <mat-form-field>
                                <mat-label>Enter a date range</mat-label>

                                <mat-date-range-input [rangePicker]="picker">
                                    <input matStartDate placeholder="Start date" formControlName="startDate" />

                                    <input matEndDate placeholder="End date" formControlName="endDate" />
                                </mat-date-range-input>

                                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>

                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>

                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="action-btns">
                        <button type="reset" mat-raised-button class="mr1" (click)="resetFilter()">
                            Reset
                        </button>

                        <button type="submit" mat-raised-button color="primary" [disabled]="!filterForm.valid">
                            Apply
                        </button>
                    </div>
                </form> 
            </div>
        </mat-card>
    </div>
</div>