.filter-content {
    position: relative;
    // width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 3%;
}
.filter-ui {
    position: absolute;
    // top: 35%;
    // left: 24%;
    // left: 3%;
}
.filter-ui-container {
    width: 43vw;
    height: auto;
    // z-index: 9999;
    left: 8%;
    border: 1px solid darkgray;
}

.filter-internal-ui {
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.filter-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
}

// ::ng-deep mat-form-field {
//     width: 300px; /* Set your desired width */
//     height: 50px; /* Set your desired height */
//   }

.action-btns {
    display: flex;
    justify-content: end;
}
.icon-class{
    font-size: 32px;
    overflow: visible;
}

.filter-container {
    // width: 100vw;
    margin-top: 9px;
    position: relative;
}