/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.invalid-field {
    border-color: #9D1309;
    border-style: solid;
    border-width: thin;
  }
  .red-snackbar{
    background:#9D1309;
  }

  .content {
    flex: 1;
    padding: 1rem 8rem; /* Add space on both sides */
    background-color: #F0F3F4;
    min-height: 98vh;
}