.login-fullscreen-container {
    // position: fixed;
    // top: 0;
    // left: 0;
    width: 100%;
    // height: 100%;
    background-color: #f2f2f2;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
  }

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.image-cls{
    display: flex;
    flex-direction: row;
}
.login-main-container {
    width: 35rem;
    background-color: white;
    height: 35rem;
    margin: 2%;
}
.login-content {
    display: flex;
    flex-direction: column;
}
.login-text{
    display: flex;
    justify-content: center;
    font-size: 23px;
    font-weight: 500;
    font-family: system-ui;
    margin-top: 7%;
}

.input-container {
    width: 72%;
    position: relative;
    margin-top: 1%;
}
.text-class {
    width: 100%;
    
}
.action-btns {
    height: 48px;
}
.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hint-msg {
    font-size: 14px;
    margin-top: 12px;
    text-align: center;
    color: royalblue;
    cursor: pointer;
}
.align-center{
    text-align: center;
}

