<div>

    <mat-form-field style="width:16.5rem;height:4rem" class="mt3">
        <input matInput appearance="outline" (keyup)="applyFilter($event?.target?.value)" placeholder="Search">
    </mat-form-field>
    <span class="ml2">
        <mat-icon fontIcon="filter_list_alt"></mat-icon>
        <mat-label >Filter</mat-label>
        
    </span>

    <table class="m4 p4 mt2" mat-table [dataSource]="dataSource" class="mat-elevation-z1" matSort
        sortActionDescription="Sort by number">
        <ng-container matColumnDef="position" *ngFor="let disCol of tableColumns let colIndex = index;"
            matColumnDef="{{disCol.columnDef}}">
            <!-- if sortable column header -->
            <ng-container *ngIf="disCol.isSortable; else notSortable">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{disCol.header}}
                </th>
            </ng-container>
            <!-- else not sortable -->
            <ng-template #notSortable>
                <th mat-header-cell *matHeaderCellDef>
                    {{disCol.header}}
                </th>

            </ng-template>

            <td class="ml4" mat-cell *matCellDef="let element" [id]="rowAction" (click)="emitRowAction(element)">



                <span *ngIf="(!disCol.isAction); else action">

                    <a role="button" mat-button >{{ disCol.cell(element) }}</a>
                </span>

                <ng-template #action>

                    <button mat-button [id]="rowActionIcon" (click)="emitRowAction(element)">
                        <mat-icon>delete</mat-icon>
                    </button>



                </ng-template>


            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator *ngIf="isPageable" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Select page..">
    </mat-paginator>
</div>