<div>
    <div class="search" >
        <mat-form-field appearance="outline"  class="searchfield">
            <input matInput  (keyup)="applyFilter($event?.target?.value)" placeholder="Search">
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <div class="filter">
            <mat-icon  fontIcon=filter_list></mat-icon>
            <mat-label >Filter</mat-label>
            
        </div>
    </div>
   

    <table  mat-table [dataSource]="dataSource" class="mat-elevation-z1" matSort
        sortActionDescription="Sort by number">
        <ng-container matColumnDef="position" *ngFor="let disCol of tableColumns let colIndex = index;"
            matColumnDef="{{disCol.columnDef}}">
            <!-- if sortable column header -->
            <ng-container *ngIf="disCol.isSortable; else notSortable">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{disCol.header}}
                </th>
            </ng-container>
            <!-- else not sortable -->
            <ng-template #notSortable>
                <th mat-header-cell *matHeaderCellDef>
                    {{disCol.header}}
                </th>

            </ng-template>

            <td class="ml4" mat-cell *matCellDef="let element" [id]="rowAction" (click)="emitRowAction(element)">



                <span *ngIf="(!disCol.isAction); else action">

                    <a role="button" mat-button >{{ disCol.cell(element) }}</a>
                </span>

                <ng-template #action>

                    <button mat-button [id]="rowActionIcon" (click)="emitRowAction(element)">
                        <mat-icon>delete</mat-icon>
                    </button>



                </ng-template>

                <span *ngIf="disCol.isMenuOption" >

                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_horiz</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onClickEdit(element)">
                          <mat-icon>edit</mat-icon>
                          <span>Edit</span>
                        </button>
                        <button mat-menu-item >
                            <mat-slide-toggle (change)="onDeactivateToggle(element)">
                              </mat-slide-toggle>
                          <span>Deactivate</span>
                        </button>
                        <button mat-menu-item (click)="onClickDelete(element)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                          </button>
                      </mat-menu>


                </span>


            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr style="height: 80px;" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
             <!-- Row shown when there is no matching data.-->
             <tr mat-basic-chip-row  *matNoDataRow>
                <td class="mat-cell" colspan="4">No data to show </td>
            </tr>
    </table>

    <mat-paginator *ngIf="isPageable" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Select page..">
    </mat-paginator>
</div>