<app-header></app-header>
<app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
    <div class="main-container">
        <div class="header-container">
            <div style="background-color: white; border-radius: 4px;">
                <p style="margin: 14px;font-size: 18px;">Credential Type |<b> All</b>
                    <span  >
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>arrow_drop_down</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item >
                              <span>All</span>
                            </button>
                            <button mat-menu-item >
                              <span>UP - registration Diploma</span>
                            </button>
                            <button mat-menu-item >
                                <span>UP - registration Degree</span>
                              </button>
                              <button mat-menu-item >
                                <span>Non UP - Registration</span>
                              </button>
                              <button mat-menu-item >
                                <span>Foreign Certificate</span>
                              </button>
                              <button mat-menu-item >
                                <span>Other Certificate</span>
                              </button>
                          </mat-menu>


                    </span>
                </p>
            </div>
            <div style="background-color: white;  border-radius: 4px;">
                <p style="margin: 14px;font-size: 18px;">Period | <b>This month</b> 
                    <span  >
                        <button mat-icon-button [matMenuTriggerFor]="menumonth">
                            <mat-icon>arrow_drop_down</mat-icon>
                          </button>
                          <mat-menu #menumonth="matMenu">
                            <button mat-menu-item >
                              <span>All</span>
                            </button>
                            <button mat-menu-item >
                              <span>Yesterday</span>
                            </button>
                            <button mat-menu-item >
                                <span>This week</span>
                              </button>
                              <button mat-menu-item >
                                <span>This month</span>
                              </button>
                              <!-- <button mat-menu-item >
                                <span>Select dates from calender</span>
                              </button> -->
                          </mat-menu>


                    </span>
                </p>
            </div>


        </div>
        <div class="table" >
            <div class="summary-table">
                <div style="display: flex;flex-direction:row;justify-content:space-between">
                    <div style="display: flex;flex-direction:column">
                        <h2 >Summary Table </h2>
                        <p style="color: grey;">Comprehensiveness of tagged roles in thid MDO</p>
                    </div>
                    <span  >
                        <mat-icon>crop_free</mat-icon>
                        <button mat-icon-button [matMenuTriggerFor]="menu1">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu1="matMenu">
                            <button mat-menu-item >
                                <mat-checkbox ></mat-checkbox>
                              <span>All Claims</span>
                            </button>
                            <button mat-menu-item >
                                <mat-checkbox ></mat-checkbox>
                              <span>Pending Claims</span>
                            </button>
                            <button mat-menu-item >
                                <mat-checkbox ></mat-checkbox>
                                <span>Approved Claims</span>
                              </button>
                              <button mat-menu-item >
                                <mat-checkbox ></mat-checkbox>
                                <span>Rejected Claims</span>
                              </button>
                          </mat-menu>


                    </span> 
                </div>

                    <app-shared-skeleton-loading [isLoading]="isDataLoading">
                    </app-shared-skeleton-loading>
                        <app-shared-table class="table" *ngIf="!isDataLoading"
                        [tableColumns]="adminTableColumns"
                        [tableData]="adminData"
                        [isPageable]="false"
                        [isSearchable]="false"
                            (editData)="onEditData($event)"
                            (toggleData)="onToggleData($event)"
                            (deleteData)="onDeleteData($event)">

                    </app-shared-table>
        </div>
            <div class="summary-table">
                    <div style="display: flex;flex-direction:row;justify-content:space-between">
                        <div style="display: flex;flex-direction:column">
                            <h2 >Claim List </h2>
                            <p style="color: grey;">Comprehensiveness of tagged roles in thid MDO</p>
                        </div>
                        <span  >
                            <mat-icon>crop_free</mat-icon>
                            <button mat-icon-button [matMenuTriggerFor]="menu1">
                                <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu1="matMenu">
                                <button mat-menu-item >
                                    <mat-checkbox ></mat-checkbox>
                                    <span>All Claims</span>
                                </button>
                                <button mat-menu-item >
                                    <mat-checkbox ></mat-checkbox>
                                    <span>Pending Claims</span>
                                </button>
                                <button mat-menu-item >
                                    <mat-checkbox ></mat-checkbox>
                                    <span>Approved Claims</span>
                                    </button>
                                    <button mat-menu-item >
                                    <mat-checkbox ></mat-checkbox>
                                    <span>Rejected Claims</span>
                                    </button>
                                </mat-menu>


                        </span> 
                    </div>

                    
                <app-shared-skeleton-loading [isLoading]="isDataLoading">
                </app-shared-skeleton-loading>
                    <app-shared-table class="table" *ngIf="!isDataLoading"
                    [tableColumns]="adminClaimTableColumns"
                    [tableData]="adminClaimData"
                    [isPageable]="false"
                    [isSearchable]="false"
                        (editData)="onEditData($event)"
                        (toggleData)="onToggleData($event)"
                        (deleteData)="onDeleteData($event)">

                </app-shared-table>
            </div> 

    </div>