.breadcrumb {
    height: 48px;
    background-color: white;
    box-shadow: 0px 0px 1px;
    padding-left: 11%;
}

.breadcrumb-titles {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.icon-cls {
    padding: 0.3%;
    color: gray;
    background-color: lightgray;
    margin-top: 6px;
    border-radius: 4px;
}

.icon-cls-arrow {
    color: gray;
    margin-top: 13px;
}

.navigationcls {
    margin-top: 13px;
    font-size: 17px;
    letter-spacing: 0.25px;
    font-weight: 500;
    cursor: pointer;
}

.second-main-wrapper {
    position: relative;
}

.user-container {
    padding: 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-text-heading {
    font-size: 22px;
    font-weight: 500;
    line-height: 0.12;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-container {
    background-color: white;
    height: 41rem;
    padding: 3%;
}

.wrapper-form {
    display: flex;
    flex-direction: column;
}

.first-row-container {
    display: flex;
    flex-direction: row;
}

.first-container {
    width: 31%;
    position: relative;
}

.text-class {
    width: 84%;
}

.radio-btn {
    padding: 7%;
    margin-right: 4%;
    border: 1px solid lightgray;
}

.label-text {
    color: gray;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.textData {
    margin-top: 2%;
    word-wrap: break-word;
}