<app-header></app-header>
<app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
<div class="content">
    <!-- <div class="breadcrumb">
        <div class="breadcrumb-titles">
            <mat-icon class="icon-cls">home</mat-icon>
            <span class="navigationcls" style="color: gray;" (click)="navigateToHome()">Workspace</span>
            <mat-icon class="icon-cls-arrow">chevron_right</mat-icon>
            <span class="navigationcls" style="color: dodgerblue;">Profile</span>
        </div>
    </div> -->
    <div class="second-main-wrapper">
        <!-- Edit User profile form UI -->
        <!-- View User profile form -->

        <div class="user-form-container">
                <div class="user-container">
                    <h2 class="user-text-heading">{{'Profile'}}</h2>
                    <div class="action-btns">
                        <button mat-raised-button  style="margin-right: 15px;" (click)="goToHome()">Back</button>
                        <!-- <button type="submit" mat-raised-button color="primary" (click)="onClickEdit()">Edit</button> -->
                    </div>
                </div>
                <div class="form-container">
                    <div class="form-internal-wrapper">
                        <h1>{{userDetails?.name}}</h1>
                        <div class="wrapper-form">
                            <div class="first-row-container mt4">
                                <div class="first-container">
                                        <mat-label class="label-text">Name</mat-label>
                                        <h3 class="textData">{{userDetails?.name}}</h3>
                                </div>
                            </div>

                            <div class="first-row-container mt3">
                                <div class="first-container">
                                    <mat-label class="label-text">Email Id</mat-label>
                                    <h3 class="textData">{{userDetails?.email}}</h3>
                            </div>
                            <div class="first-container">
                                <mat-label class="label-text">Phone Number</mat-label>
                                <h3 class="textData" *ngIf="userDetails">{{userDetails?.phoneNumber}}</h3>
                        </div>

                            </div>

                            <div class="first-row-container mt3">
                                <!-- <div class="first-container">
                                    <mat-label class="label-text">Role</mat-label>
                                    <h3 class="textData">{{getUserRole(userDetails?.attributes?.Role[0])}}</h3>
                                </div> -->
                                <div class="first-container">
                                    <mat-label class="label-text">Active Status</mat-label>
                                    <div class="first-container">
                                        <h3 class="textData ">{{'Active'}}</h3>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


        </div>


    </div>

</div>