<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<div class="main-container">
    <div class="secondary-container">
        <h2 class="title-header">Claim Management</h2>
        <span class="cards-boxes"  >
           
            
            <mat-card class="example-card" *ngFor="let item of cardList" (click)="navigateto(item)">
                <!-- <a routerlink="manageuser">swe</a> -->
                <mat-card-content class="content-container" >
                     <span class="title-section">{{item.title}}</span>
                     <span class="desc-section">{{item.description}}</span>

                     <button class="apply-button" mat-stroked-button color="primary" >View </button>
                </mat-card-content>
              </mat-card>
            </span>
    </div>
</div>