<div class="password-fullscreen-container">
    <div class="password-container">
        <div class="image-cls">
            <img style="width: 26rem;" src="../../assets/images/sunbird_logo.png" alt="UPSMF logo">
        </div>
        <div class="password-main-container">
            <div class="password-content">
                <h2 class="password-text">Login</h2>
                <div class="password-inputs" >
                   
                    <form class="password-section" [formGroup]="passwordForm" (ngSubmit)="passwordOtpForm()">
                        <div class="input-container">
                            <h4>Password</h4>
                            <mat-form-field appearance="outline" class="text-class">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Enter Password" formControlName="password" type="password" >
                            </mat-form-field>
                            <label style="color:red" *ngIf="passwordForm.get('emailphno')?.hasError('invalidInput') ">Invalid email or phone number.</label>

                        </div>
                        <div class="input-container">
                            <h4>Confirm Password</h4>
                            <mat-form-field appearance="outline" class="text-class">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput placeholder="Enter Confirm Password" formControlName="confirmpass" type="password" >
                            </mat-form-field>
                            <label style="color:red" *ngIf="passwordForm.get('emailphno')?.hasError('invalidInput') ">Invalid email or phone number.</label>

                        </div>

                        <div class="input-container">
                            <h4 >Enter OTP</h4>
                            <mat-form-field appearance="outline" class="text-class">
                                <mat-label>Enter OTP</mat-label>
                                <input type="password" matInput placeholder="0-0-0-0-0-0" formControlName="otp" type="text" >
                                <mat-hint style="color: gray;">Enter the 6 digit OTP sent to your email / phone number</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="input-container" style="margin-top:6%;">
                            <button class="text-class action-btns" [disabled]="!passwordForm.valid" type="submit" mat-raised-button color="primary">SUBMIT</button>
                        </div>
                        <h5 class="hint-msg" (click)="navigateBackToLoginEmailPassword()">Go back, re-ender phone number</h5>

                        
                        
                    </form>
                </div>
            </div>
            

        </div>

    </div>

</div>