<app-header></app-header>
<div class="main-container">
    <div class="claim-details-container">
        <div class="header">
            <h2>Create User</h2>
        </div>
        <div class="certificate-container">
            <div class="inner-container">
                <form [formGroup]="newUserformGroup" (ngSubmit)="onnewUserformSubmit(newUserformGroup.value)">
                    <div class="claim-form-header">
                        <h2>User Details</h2>
                    </div>

                    <!--   <div class="claim-form-column"> -->
                    <div class="flex flex-row ">
                        <div class="ml4 flex flex-column mt3">
                            <h4>First Name</h4>
                            <mat-form-field appearance="outline" style="width:16.5rem">
                                <input matInput placeholder="First Name" formControlName="fName">

                            </mat-form-field>
                        </div>
                        <div class="ml4 flex flex-column mt3">
                            <h4>Last Name </h4>
                            <mat-form-field appearance="outline" style="width:16.5rem">
                                <input matInput placeholder="Last Name" formControlName="lName">

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="ml4  flex flex-row ">
                        <!--  <div class="claim-form-column"> -->
                        <div class=" flex flex-column">
                            <h4>Email</h4>
                            <mat-form-field appearance="outline" style="width:16.5rem">
                                <input matInput placeholder="Email" formControlName="email">

                            </mat-form-field>

                        </div>

                        <div class="ml4 flex flex-column">
                            <h4>Phone Number</h4>
                            <mat-form-field appearance="outline" style="width:16.5rem">
                                <input matInput placeholder="Phone Number" formControlName="phoneNo">

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="claim-form-column">
                        <h4>Role</h4>
                        <mat-form-field appearance="outline">
                            <mat-label>Select role Type </mat-label>
                            <mat-select formControlName="role">
                                <span *ngFor='let role of roleTypesArray;let i = index'>
                                    <mat-option [value]="role">{{role}}</mat-option>
                                </span>
                            </mat-select>

                        </mat-form-field>
                    </div>
                    <div class="flex flex-row  mb3 ">
                        <!--   <div class="claim-form-column"> -->
                        <div class=" flex flex-column ml4 mt3 mr4 pr3"
                            [ngClass]="{ 'invalid-field': submitted && newUserformGroup.controls['status'].errors }">
                            <!-- <div class=" mt3 "> -->
                            <h4>Active Status </h4>
                            <mat-radio-group color="primary" name="status" aria-label="status" formControlName="status">
                                <span *ngFor='let status of activeStatusArray;let i = index'>
                                    <mat-radio-button [value]="status"
                                      >{{status}}</mat-radio-button>
                                </span>

                            </mat-radio-group>
                            <!-- </div> -->

                        </div>
                    </div>

                    <div class="claim-buttons">
                        <div class="button-group ">
                            <button type="button" class="cancel-button" mat-stroked-button color="primary"
                                (click)="onReset()">Cancel</button>
                            <button class="next-button" mat-raised-button color="primary"><mat-icon
                                    matSuffix>arrow_right_alt</mat-icon>Next</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>